<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.astix.gsk_dsr"
    android:versionCode="10"
    android:versionName="1.9" >

    <uses-sdk android:minSdkVersion="14" />



    <!-- Permission to access data from network provider -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Permission for receiveing GCM message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--
         <uses-permission
        android:name="com.nagendra.nagendralocationlibrary.permission.C2D_MESSAGE" />







    -->
    <!-- Permission to wake up the system once GCM is received -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Permission to get the Gmail account(This is required only if you are developing application for lower than android version 4.0) -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />

    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/p_logo_demo"
        android:label="@string/app_name"
        android:largeHeap="@bool/largeheap"

        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.astix.gsk_dsr.SplashScreen"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.astix.gsk_dsr.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.astix.gsk_dsr.AllButtonActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.astix.gsk_dsr.ModulesActivity"
            android:label="@string/title_activity_modules"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.astix.gsk_dsr.AssesmentModuleActivity"
            android:label="@string/title_activity_assesment_module"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            >
        </activity>

        <activity
            android:name="com.astix.gsk_dsr.ModuleQuestionAnswerActivity"
            android:label="@string/title_activity_assesment_module"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.astix.gsk_dsr.SyncMaster"
            android:label="@string/title_activity_assesment_module"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.astix.gsk_dsr.DistributorAssessmentMain"
            android:label="@string/title_activity_assesment_module"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.astix.gsk_dsr.GroupQuesActivity"
            android:label="@string/title_activity_group_ques"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.astix.gsk_dsr.ScoreBoardActivity"
            android:label="@string/title_activity_score_board"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        
        <activity
            android:name="com.astix.gsk_dsr.WebViewActivity"
            android:label="@string/title_activity_score_board"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Light.NoTitleBar" 
            android:screenOrientation="landscape">
        </activity>

        <service android:name="com.astix.gsk_dsr.UploadXMLService" >
        </service>

        <activity
            android:name="com.astix.gsk_dsr.All_View_Activity"
            android:label="@string/title_activity_all__view_" >
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.astix.gsk_dsr.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
